.itemDetailContainer{
    margin: 0 auto;
    width: 95%;
    padding: 1rem;
}

.itemTitle{
    font-family: 'Open Sans', sans-serif;
}

.itemBrand, .itemPrice{
    font-family: 'BioRhyme', serif;
}

.itemDescription{
    font-family: 'Overpass', sans-serif;
    text-align: justify;
}