.item__card{
    width: 22.5%;
    margin: 1rem 0;
    padding: 0  .5rem;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: .5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

.item__card:hover{
    transform: scale(1.05);
    border-color: #0d6efd;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}

.item__img{
    height: 5rem;
    margin: .25rem 0;
}

.item__title{
    font-size: 1rem;
    margin: .25rem 0;
}

.item__brand{
    color: gray;
    font-size: 1rem;
    margin: .25rem 0;
}

.item__price{
    color: gray;
    font-size: 1rem;
}