.itemCard{
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  transition: all 300ms;
}

.itemCard:hover{
  transform: scale(1.02);
  border-color: #0d6efd;
  box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3);
}

.itemImg{
  width: 140px;
  height: 70px;
}

.itemInfo{
 margin: 0 1rem;
}

.itemName{
  width: 70%;
  font-size: 20px;
  font-family: var(--font-primary);
}

.itemBrand{
  font-size: 18px;
  font-family: var(--font-secondary);
}

.btn{
  padding: 1rem;
  margin: 0 .5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: .5rem;
  transition: all 300ms;
}

.btn:hover{
  border-color: #DC3545;
  box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.3);
}

.btn:active{
  transform: translateY(2px);
}