:root{
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'BioRhyme', serif;
  --font-tertiary: 'Overpass', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}